@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Cuerpo pagina */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.portada {
    text-align: center;
}

.valorados {
    margin-top: 20px;
    text-align: center;
}

.valorados p{
    color: #815470 ;
    font-size: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product {
    color:#815470;
    align-items: center;
}

.card {
    border: solid #F7D2C4;
    box-shadow: rgb(237, 237, 237) 1px 2px 1px 1px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.04);
    background-color: rgb(231, 231, 231);
}

/* Carrusel */

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    display: block;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.control.prev {
    left: 10px;
}

.control.next {
    right: 10px;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .slider {
        width: 100%;
    }

    .control {
        font-size: 1.5rem;
        padding: 5px;
    }
}


#ver {
    margin-bottom: 20px;
    background-color: #815470;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.5s ease;
}

.botones {
    margin-bottom: 20px;
    background-color: #815470;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    transition: background-color 0.5s ease;
}

.botones:hover {
    background-color: #614054;
}

#ver:hover {
    background-color: #614054;
}

/* Footer */

footer {
    background-image: linear-gradient(to right, #250307 0%, #8B0A1A 15%);
    color: white;
}
