{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% load static %}

<div class="carrito">

    <div class="row p-2">
        <div class="col">
            <div style="text-align: center;" class="portada">
                <h1 style="background-color: #f7d2c4; color: #815470; box-shadow: rgb(212, 212, 212) 2px 2px 2px;">Tu
                    carrito</h1>
            </div>

        </div>
    </div>

	<!-- Aca van los mensajes del sistema  -->
	
    <div class="row p-2">
    	{% if messages  %}
			<ul>
				{% for message in messages  %}
					<div class="alert alert-{{ message.tags  }}">
						{{ message  }}
					</div>
				{% endfor  %}
			</ul>

    	{% endif  %}

    	<!--Acá van los productos que esten en la DB-->
    
        {% for item in carrito  %}
			<div class="col-md-6 mt-2">
			            <div class="producto1 card" style="padding-top: 10px;
			                 padding-bottom: 10px;" >
			                <div>
			                    <img style="float: left; margin-right: 20px; width: auto;"
			                        src=" {{BASE_URL}}/{{item.producto.imagen}}" alt="imagen">
			                    <h3 style="color: #7E0817;"> {{item.producto.nombre}} </h3>
			                    <p> Precio: ${{item.producto.precio}} </p>
			                    
			                </div>
			                <div style="text-align: center;">
			                	<form action="{{ BASE_URL  }}/carrito/editar/{{item.id}} " method='POST'>
			                		{% csrf_token  %}
			                		<label for='cantidad'>Cantidad: </label>
				                	<input style="width: 30%; margin: 10px auto; text-align: center; "  class="form-control"  name='cantidad' value={{ item.cantidad }}  type='number'></input>
				                	<button class='botones'  type="submit">Editar</button>
			                	</form>
			                	<button class='botones'  onclick="window.location.href='{% url 'eliminar' item.id %}'">
			                	    Eliminar
			                	</button>
			                	
			                </div>
			            </div>
			        </div>
        {% endfor  %}
    </div>
<!--aca terminan los productos-->
    <div class="row p-2">
        <div class="col">

            <div style="text-align: center;" class="monto">
                <br>
                <h2>Total: ${{total}} </h2>
                <br>
                <a class="botones" href="#">Terminar la compra</a>
                <a class="botones" href="{% url 'inicio' %}">Seguir comprando</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
