{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% load static %}

<main class="container-fluid">
    <div class="row p-2">
        <div class="portada">
            {% if user.username != '' %}
            <h1 style="font-size: 30px;">¡Bienvenido {{user.username}} a Enigma!<a style="margin-left: 10px;" href="#">
                    <img src="{% static '/IMAGES/dark_mode.png' %}"></a>
            </h1>
            {% endif %}
        </div>
        <!-- Carousel -->
        <div class="slider-container">
            <div class="slider">
                <div class="slides">
                    <div class="slide active">
                        <img src="{% static '/IMAGES/banner1.png' %}" alt="Imagen 1">
                    </div>
                    <div class="slide">
                        <img src="{% static '/IMAGES/banner2.png' %}" alt="Imagen 2">
                    </div>
                    <div class="slide">
                        <img src="{% static '/IMAGES/banner3.png' %}" alt="Imagen 3">
                    </div>
                </div>
                <button class="control prev" onclick="prevSlide()">&#10094;</button>
                <button class="control next" onclick="nextSlide()">&#10095;</button>
            </div>
        </div>


        <!-- Fin de Carousel -->

        <div class="productos">
            <p
                style="color: #815470; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                LOS MÁS VALORADOS <img style="margin-bottom: 5px;" src="{% static '/IMAGES/valoraciones.png' %}">
            </p>
            <div class="catalogo">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
                <img src="{% static '/IMAGES/Ellipse.png' %}">
            </div>
        </div>
        {% for producto in productos %}
        <div style="margin-top: 20px;" class="col-md-6">
            <div style="display: flex;" class="card">
                <h1 style="color: #815470;"> {{producto.nombre}} </h1>
                <img style="width: 40%; margin-top: 20px;" src="{{producto.imagen}}" alt="Producto">
                <h3 style="color: #815470;"> {{producto.categoria.nombre}} </h3>
                <p> {{producto.precio}} </p>
                <a class="ver-producto" id="ver" href="#">Ver Producto</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}